@import url("https://fonts.googleapis.com/css?family=Lato:700");

body, html {
  margin: 0;
  padding: 0;
  font-family: 'fester', sans-serif;
  color: #000000;
}

.blackbody{
  margin: 0;
  padding: 0;
  font-family: 'fester', sans-serif;
  color: #ffffff;
}

/* .blackbody h1, h2, h3, h4{
  color: #ffffff;
} */

@font-face{
  font-family: "Fester";
  src: url('fonts/FesterFF/Fester Medium.otf');
}

p{
  line-height: 1em;
  text-align: center;
}

body {
  background: url(./images/bio-bluebackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

#vanta {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


main {
  position: relative;
}

main.animated {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

header {
  margin-top: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

header > h1 {
  display: inline-block;
  font-weight: bold;
  color: #000;
  margin: 15px 0;
}

header > p {
  margin: 5px 0;
  color: #5d5d5d;
}

.info-box{
  box-sizing: border-box;
  margin: 0 auto;
  padding:  0 2em;
  max-width: 650px;
  overflow: hidden;
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 2em;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#black-info{
  background-color: #000000;
  border: 1px solid white;

}

.info-box h2{
  text-decoration: underline;

}

.self-tokens{
  width: 210px;
  float: left;
}
.other-tokens{
  margin-top: 35px;
}

hr.line1 {
  border: 1px solid red;
  border-color: #0E86D4;
  width: 90%;
}


.restrings{
  padding: 20px 0;
}

.restrings-table{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.restrings-table th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #96D4D4;
  padding: 10px;
  width: 120px;
  margin: 0;
}

.collected-rackets{
  padding: 20px 0;
}


.progress-circle {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}


.black-list li{
  background-color: #000000;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  border: 1px solid white;
  margin: 1.4em 0;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

.black-list a{
  color: white;
  text-decoration: none;
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding:  0 2em;
  max-width: 480px;
}

ul > li {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  margin: 1.4em 0;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.white-svg{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(340deg) brightness(98%) contrast(105%);
}

.email {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*** <--- CIRCLE STYLES ---> ***/

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #d3d3d3;
  overflow: hidden;
}
.circle.per-20 {
  background-image: conic-gradient(#0E86D4 20%, #d3d3d3 0);
}
.circle.per-40 {
  background-image: conic-gradient(#0E86D4 40%, #d3d3d3 0);
}
.circle.per-60 {
  background-image: conic-gradient(#0E86D4 60%, #d3d3d3 0);
}
.circle.per-80 {
  background-image: conic-gradient(#0E86D4 80%, #d3d3d3 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #fff;
  color: black;
  border-radius: 50%;
    font-family: "Lato";
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
}

.palette {
  --g:10px; /* The gap between shapes*/
  --s:40px; /* the size*/

  height: 200px;
  width: 200px;
  position:relative;
  display:inline-block;
  overflow:hidden;
}
.palette > * {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border:var(--s) solid var(--c,red);
  border-radius:50%;
  clip-path:polygon(
    calc(50% + var(--g)/2) 50%,
    calc(50% + var(--g)/2) 0%,
    calc(68.19% - var(--g)/2) 0%,
    50% calc(50% - var(--g)/2));
}
.color1 {
  transform:rotate(20deg); /* 360/18 */
  --c:white;
}
.color2 {
  transform:rotate(40deg);
  --c:white;
}
.color3 {
  transform:rotate(60deg);
  --c:white;
}
.color4 {
  transform:rotate(80deg);
  --c:white;
}
.color5 {
  transform:rotate(100deg); /* 360/18 */
  --c:white;
}
.color6 {
  transform:rotate(120deg);
  --c:white;
}
.color7 {
  transform:rotate(140deg);
  --c:white;
}
.color8 {
  transform:rotate(160deg);
  --c:white;
}
.color9 {
  transform:rotate(180deg);
  --c:white;
}
.color10 {
  transform:rotate(-20deg);
  --c:white;
}
.color11 {
  transform:rotate(-40deg);
  --c:white;
}
.color12 {
  transform:rotate(-60deg);
  --c:white;
}
.color13 {
  transform:rotate(-80deg);
  --c:white;
}
.color14 {
  transform:rotate(-100deg);
  --c:white;
}
.color15 {
  transform:rotate(-120deg);
  --c:white;
}
.color16 {
  transform:rotate(-140deg);
  --c:white;
}
.color17 {
  transform:rotate(-160deg);
  --c:white;
}
.color18 {
  transform:rotate(0deg);
  --c:white;
}

@media only screen and (max-width: 770px) {
  .info-box{
    max-width: 550px;
  }

  .self-tokens{
    width:100%;
    float: none;
  }
  .other-tokens{
    margin-top: 0;
  }

  th, td {

    padding: 10px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .info-box{
    max-width: 500px;
  }
}
