@import url("https://fonts.googleapis.com/css?family=Lato:700");

body, html {
  margin: 0;
  padding: 0;
  font-family: 'fester', sans-serif;
  color: #000000;
}

@font-face{
  font-family: "Fester";
  src: url('fonts/FesterFF/Fester Medium.otf');
}

p{
  line-height: 1em;
  text-align: center;
}

body {
  background: url(./images/bio-goldbackground.jpg) no-repeat center center fixed;
  background-size: cover;
}

#vanta {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


main {
  position: relative;
}

main.animated {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

header {
  margin-top: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

header > h1 {
  display: inline-block;
  font-weight: bold;
  color: #000;
  margin: 15px 0;
}

header > p {
  margin: 5px 0;
  color: #5d5d5d;
}

.tokens {
  box-sizing: border-box;
  margin: 0 auto;
  padding:  0 2em;
  max-width: 480px;
  overflow: hidden;
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 2em;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tokens h2{
  text-decoration: underline;
}

.self-tokens{
  width: 230px;
  float: left;
}
.other-tokens{
  margin-top: 35px;
}

hr.line1 {
  border: 1px solid red;
  border-color: #0E86D4;
  width: 90%;
}


.AY-restrings{
  padding: 20px 0;
}

.AY-restrings-table{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #96D4D4;
  padding: 10px;
  width: 120px;
  margin: 0;
}

.collected-rackets{
  padding: 20px 0;
}


.progress-circle {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}


ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding:  0 2em;
  max-width: 480px;
}

ul > li {
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  margin: 1.4em 0;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.email {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*** <--- CIRCLE STYLES ---> ***/

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #d3d3d3;
  overflow: hidden;
}
.circle.per-20 {
  background-image: conic-gradient(#0E86D4 20%, #d3d3d3 0);
}
.circle.per-40 {
  background-image: conic-gradient(#0E86D4 40%, #d3d3d3 0);
}
.circle.per-60 {
  background-image: conic-gradient(#0E86D4 60%, #d3d3d3 0);
}
.circle.per-80 {
  background-image: conic-gradient(#0E86D4 80%, #d3d3d3 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #fff;
  color: black;
  border-radius: 50%;
    font-family: "Lato";
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 770px) {
  .tokens{
    max-width: 350px;
  }

  .self-tokens{
    width:100%;
    float: none;
  }
  .other-tokens{
    margin-top: 0;
  }

  th, td {

    padding: 10px 0px;
  }
}
