p{ line-height: 1em; }

* {
  box-sizing: border-box;
}

@font-face
{
    font-family: "League-Gothic";
    src: url('fonts/LeagueGothic-Regular.otf');
}

iframe{
  width:600px;
  height:450px;
}


h1, h2, h3, h4{
  color: black;
	font-weight: normal;
	line-height: 1.1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

h1{
  font-size: 4.3em;
  text-decoration: underline;
  color: #ffffff;
  font-family: League-Gothic;
}

h2{
  font-size: 2.2em;
  color: #000000;
  text-align: left;
  padding: 20px 20px 0 20px;
  text-decoration: underline;
  font: '', sans-serif;
}

h3{
  font-size: 1.9em;
  text-decoration: underline;
  text-align: left;
}

h4{
  padding: 20px 20px 0 20px;
  text-decoration: underline;
  font-size: 1.6em;
}

body{
  font-family: arial;
  font-size: 90%;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-y: scroll;
  background-color: #ffffff;
}

#master-header {
  width:100%;
  background-color: #ffffff;
}

#header {
  width:100%;
  max-width: 960px;
  top: 0px;
  margin: auto;
}

#social-media-icon{
  position:relative;
  float: right;
  padding: 30px 10px 0 0;
  text-align: right;
  display: inline-block;
}

.nav {
  width: 100%;
  background: #2f3036;
  height: 60px;
}

.menu {
  width: 100%;
  max-width: 960px;
  list-style-type:none;
  display:block;
  margin:0 auto;
  text-align: left;
}

.menu a {
  display: inline-block;
  min-width: 115px;
  line-height: 60px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 1.4em;
  background: #2f3036;
  text-align: center;
  text-decoration: none;
}

/*Hover over the nav bar to underline*/
.menu a:hover{
  text-decoration: underline;
  background-color: #828282;
}

/*Active page shows a colour change*/
.menu a.active, .search-container button.active{
  background-color: #696969;
  color: white;
  text-decoration: underline;
}

.search-container {
  float: right;
}

.search-container button {
  margin: 0;
  float: right;
  padding: 7.5px 7.5px;
  background: #2f3036;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

#burger-menu-label{
  color: white;
  margin: 0 30px 0 0;
  font-size: 26px;
  line-height: 60px;
  display: none;
  width: 30px;
  float:right;
  text-align: right;
}

/* hide the burger menu when not in responsive mode */
#toggle {
  display: none;
}

.content{
  width:100%;
  max-width: 960px;
  margin: auto;
  background: #a9a9a9;
  background-position: top;
}

.homepage-info1 {
  background: #262626;
  color: #ffffff;
  margin:0 auto;
  padding: 75px;
  text-align: left;
  height: 400px;
}

.homepage-info2 {
  background: #add8e6;
  color: #ffffff;
  margin:0 auto;
  padding: 75px 20px 75px 75px;
  height: 400px;
}

.homepage-info3 {
  background: #f85a5a;
  color: #000000;
  margin:0;
  padding: 75px;
  height: auto;
}

.homepage-info4 {
  margin: 0;
  padding: 0;
  height: 500px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

.homepage-info5 {
  background: #333366;
  color: #ffffff;
  margin:0;
  padding: 75px;
  height: auto;
}

.homepage-info1 h3, .homepage-info2 h3 {
  color: #ffffff;
  margin-top: 30px;
  font-weight: bold;
  font-family: League-Gothic;
  font-size: 3.0em;
}

.homepage-info4 h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.homepage-info3 h1, .homepage-info5 h1{
  text-decoration: none;
}

.homepage-info1 p, .homepage-info2 p{
  font-size: 1.3em;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.homepage-info1 p {
  margin-right: 40px;
}

.homepage-info3 p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.homepage-info4 p {
  line-height: 1.4em;
}



#leftbox {
  float:left;
  width:50%;
}
#rightbox{
  float:right;
  width:50%;
}

.homepage-info1 #rightbox img {
  float: right;
}
.homepage-info2 #rightbox {
  padding-left: 40px;
}


/* <--- actions associated with homepage-info4 ---> */
.card {
  position: relative;
  max-width: 270px;
  height: 250px;
  background: #ffffff;
  margin: 60px 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.card:hover {
  height: 420px;
}

.icon-link{
  position: relative;
  width: 250px;
  height: 250px;
  top: -60px;
  right: 10px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.icon-link img {
  max-width: 100%;
  border-radius: 4px;
}

.card-info {
  position: relative;
  padding: 5px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card:hover .card-info {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
/* <--- end ---> */

/* <--- actions associated with homepage-info3 ---> */
.three-photo-row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.three-photo-row,
.three-photo-row > .three-photo-column {
  padding: 8px;
}
/* Create four equal columns that floats next to each other */
.three-photo-column {
  float: left;
  width: 33.3%;
}

/* Clear floats after rows */
.three-photo-row:after {
  content: "";
  display: table;
  clear: both;
}
/* <--- actions associated with homepage-info5 ---> */
.index-photo-row1, .index-photo-row2 {
  margin: 8px -16px;
}

.index-photo-row3{
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.index-photo-row1,
.index-photo-row1 > .index-photo-column {
  padding: 8px;
}
.index-photo-row2,
.index-photo-row2 > .index-photo-column {
  padding: 0px 8px 8px 8px;
}

.index-photo-row3,
.index-photo-row3 > .index-photo-column {
  padding: 0px 8px;
}

/* Create four equal columns that floats next to each other */
.index-photo-column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.index-photo-row1:after, .index-photo-row2:after, .index-photo-row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Latest image from blogs with links*/
.latest-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.index-image-box {
  background: #ffffff;
}

.index-image-box img {
  margin-bottom: -5px;
}

.index-image-box:hover img {
  opacity: 0.3;
}
/* <--- end ---> */

.page-info {
  margin:0 auto ;
  padding: 20px;
  text-align: center;
}

.page-info p {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  line-height: 3.5;
  color: #ffffff;
}

.reviewarticles, .howtoarticles {
  background-color: #ffffff;
  text-align: left;
  border-radius: 15px;
  border: 2px solid #949494;
}

.reviewarticles p, .howtoarticles p {
  padding: 0 20px 0 20px;
  line-height: 2.0em;
  background: rgba(0, 0, 0, 0);
  color: #000000;
}

.reviewarticles img {
  float: right;
  width: 300px;
  height: 300px;
  padding: 10px 10px 0 10px;
}

.howtoarticles img {
  height: 300px;
  padding: 5px 20px;
}

.mobile-img{
  display:none;
}

#short-img, #mobile-img {
  display: none;
}

#reviewinformation article, #reviewinformation p, #howtoinformation article, #howtoinformation p, #appsinformation article, #appsinformation p{
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  padding: 0%;
  line-height: 2.5;
}

#aboutinformation p {
  background: rgba(0, 0, 0, 0);
  line-height: 2.2em;
  font-size: 1.2em;
  color: #000000;
  margin: 0;
  text-align: left;
}

#contactinformation p {
  background: rgba(0, 0, 0, 0);
  line-height: 2.2em;
  font-size: 1.2em;
  color: #000000;
  margin: 0;
}

#reviewinformation p, #howtoinformation p, #appsinformation p{
  padding: 0 20px;
  margin: 0;
}

.article-info {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

#article-info {
  margin-bottom: 0;
}

.rating-text {
  float: left;
  width: 80px;
}

.publish-date {
  float: right;
  border: 0.5px solid #a9a9a9;
  margin-right: 20px;
}

.author {
  display: inline-block;
  color: #a2a2a2;
  text-align: left;
  line-height: 30px;
  padding: 0;
  margin: 0;
  z-index:1;
  color: #000000;
}

.app-info {
  position: relative;
  height: 100px;
  font-size: 15px;
  font-weight: bold;
}

.available-text {
  padding-left: 20px;
}

.app-info .available-text {
  position: absolute;
  width: 140px;
  bottom: 10px;
}

.app-info .app-availability {
  position: absolute;
  width: 150px;
  left: 120px;
  bottom: 10px;
  color: #838383
}

.price-text {
  position: absolute;
  width: 140px;
  bottom: 10px;
  left: 400px;
}

.cost {
  position: absolute;
  width: 200px;
  bottom: 10px;
  left: 450px;
  color: orange;
}


#publish-date-search {
  height: 30px;
}

.article-text {
  margin-bottom: 10px;
}

.articles {
  margin-top: 20px;
}

.articles, #searchUL li{
  border-radius: 15px;
  border: 2px solid #949494;
}

.articles::after {
  content: "";
  clear: both;
  display: table;
}

.articles a {
  color: #000000;
}

.articles a:hover{
  text-decoration: underline;
  color: #0000ff;
}

.image-box {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 15px 15px 10px;
  float: right;
}

.image-box img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.image-box:hover img {
  transform: scale(1.5);
}

/* About Us Page Styling*/
.main-text {
  background: #ffffff;
  padding: 20px 20px;
  margin: 30px;
  border-radius: 15px;
  border: 2px solid #949494;
}

.faq-container {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
}

.acc h3 {
  font-size: 1.6em;
  line-height: 1.5em;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 20px;
  padding-right: 75px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
}

.acc h3:after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.acc.active h3:after {
	content: "-";
  font-size: 50px;
  right: 22.5px;
}

.faq-content {
  background-color: #fff;
  display: none;
}

.faq-content-inner {
  padding: 15px;
}

.faq-content * {
  margin-top: 0;
  line-height: 1.5;
}

.acc {
  border-bottom: 1px solid #fff;
}

/* Contact Us Page Styling*/
.contactrow input[type=text], .contactrow select, .contactrow textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactrow input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.contactrow input[type=submit]:hover {
  background-color: #45a049;
}

.contactrow label[for=name], [for=email], [for=subject], [for=message] {
    color: #000000;
    font-family: Verdana;
    font-size: 15px;
    float: left;
    text-align: left;
}

/* Create two columns that float next to eachother */
.contactcolumn {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.contactrow:after {
  content: "";
  display: table;
  clear: both;
}

#searchinformation ul{
  padding: 0;
  margin: 0;
  color: #000000;
  list-style-type: none;
}

#searchinformation li {
  background-color: #ffffff;
  text-align: left;
  margin: 0;
  display: block;
  -moz-box-shadow: 0px 3px 5px #888;
  -webkit-box-shadow: 0px 3px 5px #888;
  box-shadow: 0px 3px 5px #888;
}

#searchinformation li {
  margin-top: 20px;
}

#searchinformation li {
  background-color: #ffffff;
}

#search-link {
  text-decoration: none;
}

#searchUL p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 2.0em;
  background: rgb(0,0,0,0);
  color: #000000;
  text-decoration: none;
}

#searchUL h3{
  color: #000000;
  font-size: 2.0em;
  line-height: 2.0em;
  padding: 0 20px;
  margin: 0;
  font: 'Fira Sans', sans-serif;
}

#searchUL li:hover{
  background-color: #a2a2a2;
}

.search-bar input[type=text] {
  width: 100%;
  max-width:600px;
  padding-left: 10px;
  line-height: 35px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.7em;
  border-radius: 15px;
}

/* for the countdown pages */
.middle {
  width:100%;
  max-width: 700px;
  text-align: center;
  font-size: 25px;
  background: rgb(0,0,0,0.5);
  margin: 60px auto;
  font-family: "Courier New", Courier, monospace;
}

.middle p {
  background: rgb(0,0,0,0);
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.middle h1{
  color: #ffffff;
  font-size: 2.8em;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  padding: 20px 0;
  margin: 0;
}

hr {
  width: 75%;
}

/* All the relevant info for the footer */
.master-footer {
  width:100%;
  height: 100px;
  background-color: #2f3036;
  color: #ffffff;
}

.main-footer {
  background-color: #00FFFF;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 0px 3%;
}

.left-footer {
  float: left;
}

.left-footer a {
  color: #72d4d4;
}

.footer-nav a {
  color: #ffffff;
  font-size: 20px;
}

.footer-nav {
  list-style: none;
  float: right;
  padding: 20px 0 0;
}

.footer-nav li {
  float: left;
}

.footer-nav li + li {
  margin-left: 15px;
}
/* creating a responsive website */
@media only screen and (max-width: 880px) {
  .homepage-info4 {
    height: auto;
  }
  .card{
    margin: 50px 35px;
  }

  .reviewarticles img {
    display: block;
    float: none;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 400px;
    height: 400px;
  }

  #desktop-img {
    display: none;
  }

  #mobile-img {
    display: block;
  }
}
@media only screen and (max-width: 770px) {
  #header {
    text-align: center;
  }

  #social-media-icon{
    display:none;
  }
  .fa {
    padding: 10px;
    font-size: 15px;
    width: 25px;
    padding: 30px 0px 0 0;
  }
  .nav {
    width: 100%;
    height: 60px;

    padding:0;
    text-align: left;
    background: #2f3036;
  }

  #burger-menu-label {
      display: block;
      cursor: pointer;
  }

  .menu {
    position: relative;
    text-align: left;
    width: 100%;
    height: 0;
    display: none;
    float: right;
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  .menu a {
    display: flex;
    border: 0.5px solid #EAEAEB;
    margin: 0;
    width:100%;
    padding-left: 15px;
    background: rgb(0,0,0,0.9);
  }

  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  #toggle:checked + .menu {
      display: block;
  }

  .nav .search-container {
    float: none;
  }

  /* .nav input[type=text], */
  .search-container button {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    background: rgb(0,0,0,0.9);
    border: 0.5px solid #EAEAEB;
  }

  #searchUL h3 {
    font-size: 1.6em;
    padding-top: 7px;
    padding-bottom: 5px;
    line-height: 1.7em;
  }

  #searchUL{
    padding-left: 10px;
  }

  .homepage-info1, .homepage-info2 {
    text-align: center;
    height:auto;
  }

  .homepage-info2 {
    padding: 75px;
  }

  .homepage-info1 h3, .homepage-info2 h3 {
    margin-bottom: 0px;
    text-align: center;
  }

  .homepage-info1 p, .homepage-info2 p {
    padding: 25px 0 50px 0;
    margin: auto;
  }

  .homepage-info4 {
    height: auto;
  }

  .card{
    margin: 50px 25px;
  }

  .homepage-info1 #leftbox {
    float: none;
    min-width: 100%;
  }

  .homepage-info1 #rightbox{
    display: none;
  }

  .homepage-info2 #rightbox {
    float: none;
    min-width: 100%;
  }

  .homepage-info2 #leftbox{
    display: none;
  }

  .three-photo-column {
   width: 50%;
 }

 .three-photo-row1,
 .three-photo-row1 > .three-photo-column {
   padding: 12px 8px;
 }

  .index-photo-column {
   width: 50%;
 }

 .index-photo-row1,
 .index-photo-row1 > .index-photo-column {
   padding: 12px 8px;
 }

 .index-photo-row2, .index-photo-row3 {
   display: none;
 }

 .main-text {
   margin: 30px 12px;
 }

 .faq-container {
    max-width: 95%;
 }

 .acc h3 {
   font-size: 1.3em;
   padding-right: 75px;
 }

 .acc h3:after {
   top: 45%;
 }

 #long-img {
   display: none;
 }

 #short-img {
   display: block;
 }

}
@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }

  .three-photo-column {
   width: 100%;
 }

  .index-photo-column {
   width: 100%;
 }

 .index-photo-column {
  width: 100%;
}

  .contactcolumn, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .articles h2 {
    font-size: 1.8em;
  }

  .image-box {
    display: block;
    float: none;
    text-align: center;
    margin: 10px auto;
    width: 300px;
    height: 300px;
  }

  .reviewarticles img {
    display: block;
    float: none;
    text-align: center;
    margin: 0 auto 0 auto;
    width: 300px;
    height: 300px;
  }

  .howtoarticles img {
    display: block;
    float: none;
    text-align: center;
    height: auto;
    width: 300px;
    margin: 0 auto 0 auto;
  }


  .price-text {
    left: 300px;
  }

  .cost {
    left: 350px;
  }

  .app-info .price-text {
    position: absolute;
    left: 0;
    width: 100px;
    bottom: 40px;
    padding-left: 20px;
  }

  .app-info .cost {
    position: absolute;
    left: 70px;
    bottom: 40px;
    color: orange;
  }
}

/* Style all font social media icons */
.fa {
  padding: 10px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #C13584;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.rating-box {
  position: relative;
  vertical-align: middle;
  font-family: FontAwesome;
  display: inline-block;
  color: #a2a2a2;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  z-index:1;
}

.rating-box:before{
  content: "\f006 \f006 \f006 \f006 \f006";
}
.rating-box .rating {
  position: absolute;
  display: inline-block;
  left:0;
  top:0;
  white-space:nowrap;
  overflow:hidden;
  color: #F68127;
}
.rating-box .rating:before {
  content: "\f005 \f005 \f005 \f005 \f005";
}

.star {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 2s;
  animation: animat_show 2s;
  visibility: visible !important;
}

.fadeIn-image {
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation: animat_show 3s;
  animation-delay: 2s;
  animation: animat_show 3s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}
