p{ line-height: 1em; }

* {
  box-sizing: border-box;
}


iframe{
  width:600px;
  height:450px;
}


h1, h2, h3, h4{
  color: black;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h2{
  font-size: 3.0em;
  text-decoration: underline;
  color: #ffffff;
}

h3{
  font-size: 2.0em;
  color: #ffffff;
}

body{
  font-family: arial;
  font-size: 90%;
  line-height: 1.2em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-y: scroll;
  background-color: #ffffff;
}

/* #page {
  max-width: 960px;
  margin: auto;
} */

#master-header {
  width:100%;
  background-color: #ffffff;
}

#header {
  width:100%;
  max-width: 960px;
  top: 0px;
  margin: auto;
}

#social-media-icon{
  position:relative;
  float: right;
  padding: 30px 10px 0 0;
  text-align: right;
  display: inline-block;
}

.nav {
  width: 100%;
  background: #2f3036;
}

.menu {
  width: 100%;
  max-width: 960px;
  list-style-type:none;
    display:block;
    margin:0 auto;
  text-align: left;
}

.menu a {
  display: inline-block;
  min-width:140px;
  line-height: 60px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #fff;
  font-size: 1.6em;
  background: #2f3036;
  text-align: center;
  text-decoration: none;
}

/*Hover over the nav bar to underline*/
.menu a:hover{
  text-decoration: underline;
}

/*Active page shows a colour change*/
.menu a.active{
  background-color: #9e9e9e;
  color: white;
  text-decoration: underline;
}

#burger-menu-label{
    color:white;
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 60px;
    display: none;
    width: 30px;
    float:right;
    text-align: right;
}

#toggle {
  display: none;
}

.content{
  width:100%;
  max-width: 960px;
  margin: auto;
  background: #937D64;
  background-position: top;
}

#indexinformation, #indexinformation p {
  width: 95%;
  margin:0 auto ;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
  line-height: 3.6;
  color: #ffffff;
}

#contactinformation, #contactinformation p{
  width: 95%;
  margin:0 auto ;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  line-height: 3.6;
  color: #ffffff;
}

#information, #information p {
  width: 95%;
  margin:0 auto ;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
  line-height: 3.6;
  color: #ffffff;
}


/* Contact Us Page Styling*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label[for=fname], [for=lname], [for=email], [for=subject]{
    color:white;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 60px;
    display: none;
    width: 30px;
    float:right;
    text-align: right;
}

/* Create two columns that float next to eachother */
.contactcolumn {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.contactrow:after {
  content: "";
  display: table;
  clear: both;
}

.master-footer {
  width:100%;
  background-color: #2f3036;
}

.main-footer {
  width:100%;
  max-width: 960px;
  top: 0px;
  margin: auto;
  padding: 1px 2%;
}

.left-footer {
  float: left;
}

.footer-nav a {
  color: #000000;
  font-size: 20px;
}

.footer-nav {
  list-style: none;
  float: right;
  padding: 20px 0 0;
}

.footer-nav li {
  float: left;
}

.footer-nav li + li {
  margin-left: 15px;
}

@media only screen and (max-width: 750px) {
  #header {
    text-align: center;
  }

  #social-media-icon{
    display:none;
  }
  .fa {
    padding: 10px;
    font-size: 15px;
    width: 25px;
    padding: 30px 0px 0 0;
  }
  .nav {
    width: 100%;
    height: 60px;

    padding:0;
    text-align: left;
    background: #2f3036;
  }

  #burger-menu-label {
      display: block;
      cursor: pointer;

  }
  .menu {
    position: relative;
    text-align: left;
    width: 100%;
    height: 0;
    display: none;
    float: right;
    opacity: 0.9;
    visibility: visible;
  }

  .menu a {
    display: flex;
    border: 0.5px solid #EAEAEB;
    margin: 0;
    width:100%;
    padding-left: 15px;

  }

  iframe{
    width:400px;
    height:250px;
  }

  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  #toggle:checked + .menu {
      display: block;
  }
}


@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }
  .contactcolumn, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* The sidebar menu */
/*.sidenav{
  height: auto;
  width: 200px;
  position: absolute;;
  z-index: 1;
  top: 220px;
  left: 80px;
  background-color: #2f3036;
  overflow-x: hidden;
  display: block;
}*/


/*.sidenav a, .dropdown-btn {
  line-height: 1.6;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  border: 1px solid #818181;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}*/

/*/.dropdown-container {
  display: none;
  background-color: #262626;
}*/


/*.sidenav a:hover, .dropdown-btn:hover {
  color: red;
}*/

/*
  .fa-caret-down {
    float: right;
    padding-right: 3px;
  } */


/*#footer{

	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
*/

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
